div{
    background-color: purple;
    padding: 20px;
    border:solid 2px;

}
.gridcontainer{
    height: 40vw;
    width: 40vw;
 display: inline-grid;
 grid-template-columns: auto auto;
 grid-row-gap:2px;
 grid-template-rows: auto auto auto;
}

*{
    background-color: darkolivegreen;
}

.griditem1{
    grid-column-start: 1;
    grid-row-end: 3;
}

.griditem2{
    grid-area:initial;
}